@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 211, 218);

}

a {
    text-decoration: none;
}
@-webkit-keyframes hue{
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
h1{
        font-size: 6rem;
        font-weight: 300;
        color: black;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
        padding-top: 5%;
        background-image:-webkit-linear-gradient(92deg, crimson, darkblue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
        }
h2{
    font-size: 170%;
}
h3{
    font-size: 6rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding-top: 5%;
    background-image: -webkit-linear-gradient(92deg, crimson, darkblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 10s infinite linear;
}
#addTaskButton {
    width: 40%; 
    
    margin: 1rem;
    height: 8vh;
    font-size: 30px;
}
   
#deleteButton{
    width: 40%;
    margin: 1rem;
    height: 8vh;
    position: relative;
    bottom: 40%;
    font-size: 30px;
}

#Push{
    width: 40%;
    margin: 1rem;
    height: 8vh;
    font-size: 30px;
}

li {
    list-style: none;
    font-size: 3em;
    font-weight: 700;
    padding-top: 1%;

}
